:root{
    ion-select {
        .select-icon {
          background-color: blue!important;
          color: red!important;
        }
      }
}


.select-icon {
    background-color: blue!important;
    color: red!important;
  }