ion-card {
    margin: 0% 2% 3% 0;
    width: 100%;
  }
  .card-container {
    width: 100%;
  }
  .fixed {
    position: fixed;
  }
  
  cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
  }